body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2b2b;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.video-box {
  width: 600px;
  max-width: 90%;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

video {
  width: 1440px;
  height: 310px;
  display: block;
}